html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 96px; /* Height of the navbar to push the map down */
    left: 0;
    right: 0;
    bottom: 0;
}

.flag-large {
    font-size: 48px;
}